python-telegram-bot[webhooks]==21.7
pyswisseph==2.10.1
persiantools
fastapi
uvicorn
httpx
pydantic
geopy
persiantools
pytz
numpy
jplephem
python-dotenv
timezonefinder[database] 
aiosqlite
matplotlib
jdatetime
