python-telegram-bot[webhooks]==21.7
skyfield==1.53
jplephem==2.21
persiantools==3.0.0
fastapi==0.115.5
uvicorn==0.32.0
httpx==0.27.2
pydantic==2.9.2
geopy==2.4.1
pytz==2024.1
numpy==1.26.4
python-dotenv==1.0.1
timezonefinder[database]==6.5.0
aiosqlite==0.20.0
